@keyframes disturbutingCards{
  0%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

@keyframes disturbutingCards1{
  0%{
    transform: translate(0px, 0px);

  }
  50%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

  @keyframes disturbutingCards2{
    0%{
      transform: translate(0px, 0px);
  
    }
    66%{
      transform: translate(0px, 0px);
  
    }
    100%{
      transform: translate(20vw, -32vh);
    }
}