@keyframes disturbutingCards1{
  0%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

@keyframes disturbutingCards2{
  0%{
    transform: translate(0px, 0px);

  }
  14%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

  @keyframes disturbutingCards3{
    0%{
      transform: translate(0px, 0px);
  
    }
    28%{
      transform: translate(0px, 0px);
  
    }
    100%{
      transform: translate(20vw, -32vh);
    }
}

@keyframes disturbutingCards4{
  0%{
    transform: translate(0px, 0px);

  }
  43%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

@keyframes disturbutingCards5{
  0%{
    transform: translate(0px, 0px);

  }
  57%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

@keyframes disturbutingCards6{
  0%{
    transform: translate(0px, 0px);

  }
  72%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

@keyframes disturbutingCards7{
  0%{
    transform: translate(0px, 0px);

  }
  86%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, -32vh);
  }
}

@keyframes mr1{
  0%{
    transform: translate(20vw, -32vh);
  }

  100%{
    transform: translate(35vw, -32vh);
  }

}

@keyframes mr2{
  0%{
    transform: translate(20vw, -32vh);
  }
  100%{
    transform: translate(30vw, -32vh);
  }

}

@keyframes mr3{
  0%{
    transform: translate(20vw, -32vh);
  }
  100%{
    transform: translate(25vw, -32vh);
  }
  
}
@keyframes mr4{
  0%{
    transform: translate(20vw, -32vh);
  }
  100%{
    transform: translate(20vw, -32vh);
  }

}@keyframes mr5{
  0%{
    transform: translate(20vw, -32vh);
  }
  100%{
    transform: translate(15vw, -32vh);
  }

}
@keyframes mr6{
  0%{
    transform: translate(20vw, -32vh);
  }
  100%{
    transform: translate(10vw, -32vh);
  }

}

@keyframes mr7{
  0%{
    transform: translate(20vw, -32vh);
  }
  100%{
    transform: translate(5vw, -32vh);
  }

}


@keyframes disturbutingmyCards1{
  0%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, 32vh);
  }
}

@keyframes disturbutingmyCards2{
  0%{
    transform: translate(0px, 0px);

  }
  14%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, 32vh);
  }
}

  @keyframes disturbutingmyCards3{
    0%{
      transform: translate(0px, 0px);
  
    }
    28%{
      transform: translate(0px, 0px);
  
    }
    100%{
      transform: translate(20vw, 32vh);
    }
}

@keyframes disturbutingmyCards4{
  0%{
    transform: translate(0px, 0px);

  }
  43%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, 32vh);
  }
}

@keyframes disturbutingmyCards5{
  0%{
    transform: translate(0px, 0px);

  }
  57%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, 32vh);
  }
}

@keyframes disturbutingmyCards6{
  0%{
    transform: translate(0px, 0px);

  }
  72%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, 32vh);
  }
}

@keyframes disturbutingmyCards7{
  0%{
    transform: translate(0px, 0px);

  }
  86%{
    transform: translate(0px, 0px);

  }
  100%{
    transform: translate(20vw, 32vh);
  }
}



@keyframes mmr1{
  0%{
    transform: translate(20vw, 32vh);
  }

  100%{
    transform: translate(37vw, 32vh);
  }

}

@keyframes mmr2{
  0%{
    transform: translate(20vw, 32vh);
  }
  100%{
    transform: translate(30vw, 32vh);
  }

}

@keyframes mmr3{
  0%{
    transform: translate(20vw, 32vh);
  }
  100%{
    transform: translate(25vw, 32vh);
  }
  
}
@keyframes mmr4{
  0%{
    transform: translate(20vw, 32vh);
  }
  100%{
    transform: translate(20vw, 32vh);
  }

}@keyframes mmr5{
  0%{
    transform: translate(20vw, 32vh);
  }
  100%{
    transform: translate(15vw, 32vh);
  }

}
@keyframes mmr6{
  0%{
    transform: translate(20vw, 32vh);
  }
  100%{
    transform: translate(10vw, 32vh);
  }

}

@keyframes mmr7{
  0%{
    transform: translate(20vw, 32vh);
  }
  100%{
    transform: translate(5vw, 32vh);
  }

}



@keyframes animationcard1{
  0%{
    transform: translate(37vw, 32vh);
  }

  100%{
    transform: translate(21.5vw, -0.8vh);
  }

}
@keyframes animationcard2{
  0%{
    transform: translate(30vw, 32vh);
  }

  100%{
    transform: translate(21.5vw, -0.8vh);
  }

}
@keyframes animationcard3{
  0%{
    transform: translate(25vw, 32vh);
  }

  100%{
    transform: translate(21.5vw, -0.8vh);
  }

}
@keyframes animationcard4{
  0%{
    transform: translate(20vw, 32vh);
  }

  100%{
    transform: translate(21.5vw, -0.8vh);
  }

}
@keyframes animationcard5{
  0%{
    transform: translate(15vw, 32vh);
  }

  100%{
    transform: translate(21.5vw, -0.8vh);
  }

}
@keyframes animationcard6{
  0%{
    transform: translate(10vw, 32vh);
  }

  100%{
    transform: translate(21.5vw, -0.8vh);
  }

}

@keyframes animationcard7{
  0%{
    transform: translate(5vw, 32vh);
  }

  100%{
    transform: translate(21.5vw, -0.8vh);
  }

}
