:root{
  --screensize: calc(1vh + 1vw);
}
*{
  margin: 0;
  padding: 0;
}

.me{
 display: flex;
  position: fixed;
  width: 100vw;
  justify-content: center;
  bottom: 0vh;
  height: 35vh;
  align-items: flex-end;
}
.opponent{
  display: flex;
   position: fixed;
   width: 100vw;
   justify-content: center;
   top: 0vh;
   height: 35vh;
   align-items: flex-start;
   filter: hue-rotate(250deg);
 }
 .figureopp{
  margin-left: calc(var(--screensize)*0.5);
  margin-right: calc(var(--screensize)*0.5);
  margin-top: calc(var(--screensize));
  transition: all 1s;
  width: calc(var(--screensize)*6);
}

.figure{
  margin-left: calc(var(--screensize)*0.5);
  margin-right: calc(var(--screensize)*0.5);
  margin-bottom: calc(var(--screensize));
  transition: all 1s;
  width: calc(var(--screensize)*6);
}

.figure:hover{
  filter:hue-rotate(78deg);
  transform: scale(1.2);
}

.myscore{
  font-size: 1.6vw;
  position: absolute;
  left: 5vw;
  bottom: 15vh;
}

.oppscore{
  font-size: 1.6vw;
  position: absolute;
  right: 2vw;
  top: 3vh;
}

.homebutton{
  position: absolute;
  left: 2vw;
  top: 2vh;
  z-index: 2;
}

.homebtn{
  width: 5vw;
  transition: 1s;
  z-index: 2;
}

.homebtn:hover{
  transform: rotate(45deg) scale(1.5);
}

.qqqq{
  position: absolute;  
  top: 5vh;
  left: 40vw;;
}






