:root{
  --screensize: calc(1vh + 1vw);
}
*{
  margin: 0;
  padding: 0;
}

.me{
 display: flex;
  position: fixed;
  width: 100vw;
  justify-content: center;
  bottom: 0vh;
  height: 35vh;
  align-items: flex-end;
}
.opponent{
  display: flex;
   position: fixed;
   width: 100vw;
   justify-content: center;
   top: 0vh;
   height: 35vh;
   align-items: flex-start;
   filter: hue-rotate(250deg);
 }
 .figureopp{
  margin-left: calc(var(--screensize)*0.5);
  margin-right: calc(var(--screensize)*0.5);
  margin-top: calc(var(--screensize));
  transition: all 1s;
  width: calc(var(--screensize)*6);
  z-index: 1;
}

.figure{
  margin-left: calc(var(--screensize)*0.5);
  margin-right: calc(var(--screensize)*0.5);
  margin-bottom: calc(var(--screensize));
  transition: all 1s;
  width: calc(var(--screensize)*6);
}

.figure:hover{
  filter:hue-rotate(78deg);
  transform: scale(1.2);
}

.myscore{
  font-size: 1.6vw;
  position: absolute;
  left: 5vw;
  bottom: 15vh;
}

.oppscore{
  font-size: 1.6vw;
  position: absolute;
  right: 2vw;
  top: 3vh;
}

.homebutton{
  position: absolute;
  left: 2vw;
  top: 2vh;
  z-index: 2;
}

.homebtn{
  width: 5vw;
  transition: 1s;
  z-index: 2;
}

.homebtn:hover{
  transform: rotate(45deg) scale(1.5);
}

.winner{
  display: flex;
  justify-content: center;
  font-size: 4vw;
  color: rgb(255, 0, 55);
  opacity: 0;
  transition: 1s;
}

.btns{
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

.btn{

  font-size: 1.5vw;
  padding: 1vw;
  margin: 1vw;
  border-radius: 25px;
  background-color: #dd3777;
}


.bigZindex{
  z-index: 7;
}





