.title{
  text-align: center;
  font-size: 4vw;
  text-shadow: 0 0 25px rgb(0, 203, 253);
}

.enternamecont{
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin-top: 5vh;
}

.entername{
  margin-right: 3vw;
}

.usernamefield{
  margin-left: 3vw;
}

.playersNumCont{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}
.playersNum{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  }
  
.gameIcon{
  width: 15vw;
}

.startgame{
  padding: 0.7vw;
  border-radius: 25px;
  margin-bottom: 1.5vh;
  font-size: 1.3vw;
}

titlegame{
  font-size: 1.7vw;
}

.unoDeck{
  position: absolute;
  width: 80vw;
  height: 95vh;
  left: 10vw;
  top: 3vh;
  background-color: blueviolet;
}

.deck{
  width: 8vw;
  position: absolute;
  left: 7vw;
  top: 25vh;
}

.moveLeft{
  left: 7vw;
}

.mydeck{
  width: 8vw;
  position: absolute;
  left: 15vw;
  top: 25vh;
}

.p1{
  left: 15.3vw;
  top: 25vh;
}

.p2{
  left: 15.6vw;
  top: 25vh;
}

.p3{
  left: 15.9vw;
  top: 25vh;
}

.p4{
  left: 16.2vw;
  top: 25vh;
}
.p5{
  left: 16.5vw;
  top: 25vh;
}

.p6{
  left: 16.8vw;
  top: 25vh;
}

.p7{
  left: 17.1vw;
  top: 27.5vh;
}
 .p8{
  top: 23vh;
 }


.mr1{
  animation: mr1 1s forwards;
} 

.mr2{
  animation: mr2 1s forwards;
}

.mr3{
  animation: mr3 1s forwards;
}

.mr4{
  animation: mr4 1s forwards;
}

.mr5{
  animation: mr5 1s forwards;
}

.mr6{
  animation: mr6 1s forwards;
}

.mr7{
  animation: mr7 1s forwards;
} 


.mmr1{
  animation: mmr1 1s forwards;
} 

.mmr2{
  animation: mmr2 1s forwards;
}

.mmr3{
  animation: mmr3 1s forwards;
}

.mmr4{
  animation: mmr4 1s forwards;
}

.mmr5{
  animation: mmr5 1s forwards;
}

.mmr6{
  animation: mmr6 1s forwards;
}

.mmr7{
  animation: mmr7 1s forwards;
} 


.move1{
  animation: disturbutingCards1 0.5s forwards;
} 

.move2{
  animation: disturbutingCards2 0.5s forwards;
} 

.move3{
  animation: disturbutingCards3 0.5s forwards;
} 


.move4{
  animation: disturbutingCards4 0.5s forwards;
} 

.move5{
  animation: disturbutingCards5 0.5s forwards;
} 

.move6{
  animation: disturbutingCards6 0.5s forwards;
} 

.move7{
  animation: disturbutingCards7 0.5s forwards;
} 





.mymove1{
  animation: disturbutingmyCards1 0.5s forwards;
} 

.mymove2{
  animation: disturbutingmyCards2 0.5s forwards;
} 

.mymove3{
  animation: disturbutingmyCards3 0.5s forwards;
} 


.mymove4{
  animation: disturbutingmyCards4 0.5s forwards;
} 

.mymove5{
  animation: disturbutingmyCards5 0.5s forwards;
} 

.mymove6{
  animation: disturbutingmyCards6 0.5s forwards;
} 

.mymove7{
  animation: disturbutingmyCards7 0.5s forwards;
} 


.rotateCards{
  transform: rotate(180deg);
}













